.navigation {
    background-color: rgb(122, 199, 122);
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
    
}

/* .trangchu {
    background-color:  rgb(169, 167, 167);
    padding: 5px;
    border: hidden;
    width: 200px;
    font-size: 10px;
}

.hinhanh {
    background-color: rgb(169, 167, 167);
    padding: 5px;
    border: hidden;
    width: 200px;
    font-size: 10px;
} */

.loginout {
    background-color: rgb(122, 199, 122);
    padding: 5px;
    border: hidden;
    width: 400px;
    font-size: 10px;
    color: white;
}

/* .trangchu:hover {
    background-color: rgb(153, 213, 213);
    border: hidden;
}

.hinhanh:hover {
    background-color: rgb(153, 213, 213);
    border: hidden;
} */

.loginout:hover {
    background-color: rgb(153, 213, 213);
    border: hidden;
}

.search {
    text-align: center;
   
}

.searchButton {
    height: 35px;
    width: 50px;
    
}

.searchTerm {
    height: 30px;
    width: 500px;
    margin-top: 20px;
    padding-left: 20px;
}

.icon {
    font-size: 20px;
    padding-right: 20px;
    color: white;
    
}

body {
    background-color: rgb(111, 230, 90);
}

.noidung {
    display: flex;
    justify-content: space-around;
}

.anh1 {
    background-color: rgb(171, 225, 225);
    font-size: 25px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    height: 40px;
}

.anh2 {
    background-color: rgb(171, 225, 225);
    font-size: 25px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    height: 40px;

}

.anh3 {
    background-color: rgb(171, 225, 225);
    font-size: 25px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    height: 40px;
}
 .pic1 {
    display: grid;
    justify-items: center;
 }

 .button1 {
    height: 30px;
    width: 30px;
    border-radius: 30px;
 }

 .pic2 {
    display: grid;
    justify-items: center;
 }

 .button2 {
    height: 30px;
    width: 30px;
    border-radius: 30px;
 }

 .pic3 {
    display: grid;
    justify-items: center;
 }

 .button3 {
    height: 30px;
    width: 30px;
    border-radius: 30px;
 }