.navigation {
    background-color: rgb(233, 26, 26);
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
    height: 90px;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 80px;
    
}

/* .trangchu {
    background-color:  rgb(169, 167, 167);
    padding: 5px;
    border: hidden;
    width: 200px;
    font-size: 10px;
}

.hinhanh {
    background-color: rgb(169, 167, 167);
    padding: 5px;
    border: hidden;
    width: 200px;
    font-size: 10px;
} */

.loginout {
    background-color: rgb(233, 26, 26);
    padding: 5px;
    border: hidden;
    width: 400px;
    font-size: 15px;
    color: white;
}

/* .trangchu:hover {
    background-color: rgb(153, 213, 213);
    border: hidden;
}

.hinhanh:hover {
    background-color: rgb(153, 213, 213);
    border: hidden;
} */

.loginout:hover {
    background-color: rgb(153, 213, 213);
    border: hidden;
}

.search {
    text-align: center;
   
}

.searchButton {
    height: 35px;
    width: 50px;
    
}

.searchTerm {
    height: 30px;
    width: 500px;
    margin-top: 10px;
    padding-left: 20px;
}

.icon {
    font-size: 20px;
    padding-right: 20px;
    color: white;
    
}

body {
    background-image: url(./image/z4784936048264_b63b620b11d0492ec94c54dfb7fdc599.jpg);
    background-size: cover;
}

.noidung {
    display: flex;
    justify-content: space-around;
}

.anh1 {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    height: 30px;
}

.anh2 {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    height: 30px;
}

.anh3 {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    height: 30px;
}
 .pic1 {
    display: grid;
    justify-items: center;
 }

 .button1 {
    height: 30px;
    width: 70px;
    border-radius: 30px;
 }

 .pic2 {
    display: grid;
    justify-items: center;
 }

 .button2 {
    height: 30px;
    width: 70px;
    border-radius: 30px;
 }

 .pic3 {
    display: grid;
    justify-items: center;
 }

 .button3 {
    height: 30px;
    width: 70px;
    border-radius: 30px;
 }

 .slides {
    width: 100%;
    height: 500px;
 }

 .anhgioithieu {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    
 }

 .text {
    text-align: center;
    color: white;
    font-size: 30px;
 }